
html {
    background-color: #bad;
    margin: 0;
}

body {
    font-family: "Source Sans 3", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

code {
 padding: 0.2em 0.3em 0.1em 0.3em;
 border-radius: 0.3em;
 margin: -0.2em 0 -0.1em 0;

    background-color: #f0f0f055;
}

#root {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    min-height: 100vh;
}

main, header, footer, nav.top {
    align-self: stretch;
    padding: 0 max(calc(50% - 400px), 0.5em);
}

main {
    padding-bottom: 2em;
    flex: 1;
}

nav a {
    cursor: pointer;
}
.pfp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    background-image: url("/nyanhelsing.png");
    background-size: cover;
    background-position: center;
}
nav.social > ol {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: flex-start;
}

nav.social > ol > li {
    margin: 0;
    padding: 0 0.5em 0 0;
    font-size: 1.5em;
    line-height: 2em;
}

nav.social > ol > li:hover {
    background-color: #ddd;
    border-radius: 0.5em;
}

nav.social > ol > li > a {
    text-decoration: none;
    color: #000;
}

nav.social > ol > li > a > i {
    text-align: center;
    width: 2em;
    margin: 0.3em auto 0;
    text-decoration: none;
    color: #000;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

form > textarea {
    box-sizing: border-box;
    width: 100%;
    height: 10em;
    resize: vertical;
    font-size: 1.2em
}

form > button[type="submit"] {
    width: 100%;
    padding: 0.2em 0.5em;
    border: none;
    background-color: #379d37;
    border-radius: 0.3em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
}

.mermaid {
    text-align: center;
}

footer {
    background-color: #333;
    color: #ddd;
    padding-top: 1em;
    padding-bottom: 2.5em;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer li {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:visted {
    color: #fff;
}
