h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}

h1 {
    margin-top: 0.5em;
}

h2 {
    margin-top: 0.4em;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}
